<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <title>Document</title>
</head>
<body>
    <section >
        <!-- class="h-100 gradient-form" style="background-color: #eee;" -->
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
      
                      <div class="text-center">
                        <img src="../../assets/login_images/gadgeon_logo.jpg"
                          style="width: 185px;" alt="logo" >
                        <h4 class="mt-1 mb-5 pb-1" style="font-family: Georgia, 'Times New Roman', Times, serif;">Welcome to Gadgeon</h4>
                      </div>
      
                      <form>
                        <p style="font-family: monospace\;">Please login to your account</p>
      
                        <div class="form-outline mb-4">
                          <input type="email" id="form2Example11" class="form-control"
                            placeholder="email address" required/>
                          <label class="form-label" for="form2Example11"><p style="font-family: monospace\;">Username</p></label>
                        </div>
      
                        <div class="form-outline mb-4">
                          <input type="password" id="form2Example22" class="form-control" required/>
                          <label class="form-label" for="form2Example22"><p style="font-family: monospace\;">Password</p> </label>
                        </div>
      
                        <div class="text-center pt-1 mb-5 pb-1">
                          <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">Log
                            in</button><br>
                          <a class="text-muted" href="#!"><p style="font-family: monospace\;">Forgot password?</p> </a>
                        </div>
      
                        <div class="d-flex align-items-center justify-content-center pb-4">
                          <p class="mb-0 me-2" style="font-family: monospace\;">Don't have an account?</p>
                          <button type="button" class="btn btn-outline-danger">Create new</button>
                        </div>
      
                      </form>
      
                    </div>
                  </div>
                  <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                      <h4 class="mb-4">We are more than just a company</h4>
                      <p class="small mb-0" style="text-align: justify;" >Gadgeon is a new-gen technology consultancy and engineering services company enabling customer’s digital journey. Gadgeon is dedicated to building solid software systems that creates business value for enterprises. Our services include Product engineering, IoT Engineering, Embedded systems – hardware & Firmware, Enterprise application - integration & modernization, Full stack development, cloud & Mobile app development, data analytics with AI & ML, testing & automation, and Professional services. Gadgeon enables our customers to fully focus on high impact business transformation initiatives while the extended team from Gadgeon takes care of all engineering and operational activities.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer></footer>
</body>
</html>
